*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    flex: 1;     
}
body{
	background-image: url("images/images1.jpg");
	background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
	height: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
	margin-bottom:50px;	
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:1000;
	background:#000;
	height:66px;
	border-bottom:1px solid #d6d6d6;
}
.navbar a{
	color:#fff;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;	
}
a{
	text-decoration: none;
	color: #555;
}
.lms{
	padding-top:100px;
}
.featured{
	padding-top:50px;
}
.admin{
	padding: 20px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.col-3{
	flex: 1;
	min-width: 300px;
	padding: 20px;
}
.grid{
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.grids{
	display: grid;
	grid-template-columns: 3fr 1fr;
}
.col-2{
	margin-top: 100px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
	margin-left:20px;
	background: #fff;
}
.search-box{
	background:#efefef;
	width:250px;
	border-radius:20px;
	align-items:center;
	padding:0 25px;
	display:flex;
	margin-top:70px;
	margin-left:20px;
}
.search-box img{
	width:18px;
}
.search-box input{
	width:100%;
	background:transparent;
	padding:10px;
	outline:none;
	border:0;	
}
.books{
	margin-left: 40px;
	margin-bottom:50px;	
}
.authors{
	margin-left: 40px;
	margin-bottom:50px;	
}
.category{
	margin-left: 40px;
	margin-bottom:50px;	
}
.col-2 h1{
	margin-left:20PX;
	margin-top:10px;
}
.col-2 p{
	padding:5px;
	margin-left:20px;
	
}

.auth h2{
	margin-bottom:20px;
	
}
.auth input{
	width:100%;
	padding: 10px;
	margin-bottom:17px;
	outline:none;
	border:1px solid #ccc;
	box-sizing:border-box;
}
.auth{
	width:30%;
	margin:50px auto;
	padding:10px;
	border-radius:5px;
	box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
}
.auth button{
    background-color: #000;
	color:#fff;
	display:inline-block;
	padding:10px 50px;
	margin-top:10px;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:2px;
    cursor: pointer;
	
}
.auth p{
	width:30%;
	margin:50px auto;
}
.footer{
	width: 100%;
	background-color:#fff;
	padding:20px;
	margin-top:100px;
	text-align: center;
}
.table{
	width: 100%;
	padding: 50px;
    margin: 30px auto;
	border-spacing: 0;
    border-collapse: collapse; 
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
	cursor: pointer;
}
th {
    background: #f0f0f0;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}
td {
    padding: 25px;
    border-bottom: 1px solid #eee;
	align-items: center;
}
.auth1{
	display: flex;
	width:30%;
	margin:50px 10px;
	padding:10px;
	border-radius:5px;
	box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
}

.modify {
	display: flex;
	gap: 20px;
	align-items: center;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px; 
	background: #fff;
 
}

.btn {
    flex: 1;
    padding: 10px 15px;
    background: #3498db;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.5;
}
.contact .col-3 h1{
	margin-bottom:20px;
}
.contact .col-3 p{
	margin-bottom:50px;
}
.contact .col-3 input, .contact .col-3 textarea {
	width:100%;
	padding: 15px;
	margin-bottom:17px;
	outline:none;
	border:1px solid #ccc;
	box-sizing:border-box;
}
.contact button{
    background-color: #000;
	color:#fff;
	display:inline-block;
	padding:10px 50px;
	margin-top:20px;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:2px;
    cursor: pointer;
	
}
.contact .fa-facebook{
	color:#3b5598;
	margin:0 4px;
	cursor:pointer;
	padding:5px 0;
	font-size:30px;
}
.contact .fa-whatsapp{
	color:#4fce5d;
	margin:0 4px;
	cursor:pointer;
	padding:5px 0;
	font-size:30px;
}
.contact .fa-twitter{
	color:#00acee;
	margin:0 4px;
	cursor:pointer;
	padding:5px 0;
	font-size:30px;
}
.contact .fa-instagram{
	color:#f14843;
	margin:0 4px;
	cursor:pointer;
	padding:5px 0;
	font-size:30px;
}
.contact .fa-linkedin{
	color:#365ff4;
	margin:0 4px;
	cursor:pointer;
	padding:5px 0;
	font-size:30px;
	
}
.menu-icon{
	width: 30px;
	display: none;
}

@media only screen and ( max-width: 960px){
nav ul{
	position: absolute;
	top: 70px;
	left: 0;
	background: #000;
	width: 100%;
	overflow: hidden;
	transition: max-height 0.5s;
}
nav ul li{
	display: block;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.menu-icon{
	display: block;
	width: 30px;
	cursor: pointer;
}

.grid{
	display:grid;
	grid-template-columns: repeat( 1, 1fr);	
	
}
.grids{
	display:grid;
	grid-template-columns: repeat( 1, 1fr);	
	
}
.col-3{
	display:grid;
	grid-template-columns: repeat( 1, 1fr);	
}
.search-box{
	background:#efefef;
	width:100%;
	border-radius:20px;
	align-items:center;
	padding:0 25px;
	display:flex;
	margin-top:70px;
	
}
.auth input{
	width:100%;
	padding: 10px;
	margin-bottom:17px;
	outline:none;
	border:1px solid #ccc;
	box-sizing:border-box;
}
.auth{
	width:100%;
	margin:50px auto;
	padding:10px;
	border-radius:5px;
	box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
}


}
